body {
/*
	background: url('/images/dlanham-MarshmallowHunting.jpg');
	background-size:100% auto;
*/
/*	background: #000;*/
	font-family: Helvetica;
	color: #FFF;
	margin:0;
}

img#bg {
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:auto;
	z-index:-5;
}

img#bg-ipad {
	position:fixed;
	top:0;
	left:-25px;
	height:100%;
	width:auto;
	z-index:-5;
}

#wrap {
}

#page {
	margin:100px auto;
	width: 600px;
	text-align:center;
}

.bar-wrapper {
	position:fixed;
	width:100%;
	background: #222;
/*	-webkit-border-radius:20px;*/
	padding:5px 10px;
	color: #fff;
	font-size: 20px;
	text-align:center;
	opacity: .8;
}

h1 {
	width: 100%;
	background: #222;
	opacity: .8;
/*	-webkit-border-radius:20px;*/
	padding:5px 0px;
}

table {
	width:100%;
}

tr {
	width: 100%;
	background: #222;
/*	-webkit-border-radius:20px;*/
	padding:5px 5px;
	margin: 0 0 5px 0;
	font-size:20px;
}

tr.index-row-done {
	float: left;
	width: 100%;
	background: #222;
/*	-webkit-border-radius:20px;*/
	padding:5px 0px;
	margin: 0 0 5px 0;
	font-size:20px;
	opacity: .5;
}

tr.index-row {
	float: left;
	width: 100%;
	background: #222;
/*	-webkit-border-radius:20px;*/
	padding:5px 0px;
	margin: 0 0 5px 0;
	font-size:20px;
	opacity: .8;
}

.destroy {
	width: 20px;
}

.destroy a {
	color: #fff;
	text-decoration: none;
}

.checkbox {
	width: 10px;
}

#new-task-field {
	width:100%;
	font-size:20px;
}

.task-text {
	width:580px;
}

.edit_task {
	margin:0;
}

.edit-task-field {
	width:100%;
	font-size:20px;
	margin:0;
}

#time {
	position:fixed;
	bottom:0px;
	width: 100%;
	text-align:center;
	background: #222;
/*	-webkit-border-radius:20px;*/
	padding:5px 10px;
	color: #fff;
	font-size: 50px;
	opacity: .8;
}

#countdown-wrapper {
	position:fixed;
	bottom: 80px;
	width:100%;
	background: #222;
/*	-webkit-border-radius:20px;*/
	padding:5px 10px;
	color: #fff;
	font-size: 20px;
	text-align:center;
	opacity: .8;
}

#countdown-inner {
	margin: 0 auto;
	width:70%;
}

.countdown {
	font-size: 45px;
	float: left;
	width:100%;
}

.countdown ul {
	list-style: none;
	margin:0;
	padding:0;
	width:100%;
}

.countdown li {
	width:100%;
}

#all-tweets {
	color:#999;
}

.horizontal-bar {
	height:75px;
	width:50px;
	margin:0 0 15px 0;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	display:none;
}

.vertical-bar {
	height:50px;
	width:100px;
	margin:0 15px 0 0;
	-webkit-border-top-right-radius:10px;
	-webkit-border-top-left-radius:10px;
	float:left;
	vertical-align:bottom;
}

#bar1 {
	background:-webkit-gradient(linear, left top, left bottom, from(#F00), to(#800));
	
	width:500px;
}

#bar2 {
	background:-webkit-gradient(linear, left top, left bottom, from(#FF0), to(#880));
	width:300px;
}

#bar3 {
	background:-webkit-gradient(linear, left top, left bottom, from(#00F), to(#008));
	width:200px;
}

#bar4 {
	background:#0FF;
	
}

#bar5 {
	background:#F0F;
	width:150px;
}

#bar6 {
	background:#0F0;
	width:350px;
}

#bar7 {
	background:#0F0;
	height:100px;
}

#bar8 {
	background:#0F0;
}

#bar9 {
	background:#0F0;
	height:125px;
}