<div id="countdown-wrapper">
<div id="release-time" style="display:none"><%= @countdown.end.localtime.strftime("%B %d, %Y %H:%M:%S") %></div>
<div id="countdown"></div> until <%= @countdown.name %>
</div>