<div id="bar1" class="horizontal-bar"></div>
<div id="bar2" class="horizontal-bar"></div>
<div id="bar3" class="horizontal-bar"></div>
<div id="bar4" class="horizontal-bar"></div>
<div id="bar5" class="horizontal-bar"></div>
<div id="bar6" class="horizontal-bar"></div>

<%= render :partial => 'home/clock' %>
<%= render :partial => 'home/countdown' %>

<script type="text/javascript">
	setInterval('window.location=""', 10000);
</script>