<div id="bar1" class="horizontal-bar"></div>
<div id="bar2" class="horizontal-bar"></div>
<div id="bar3" class="horizontal-bar"></div>
<div id="bar4" class="horizontal-bar"></div>
<div id="bar5" class="horizontal-bar"></div>
<div id="bar6" class="horizontal-bar"></div>

<%= render :partial => 'home/clock' %>
<%= render :partial => 'home/countdown' %>
<div id="tweets"><%= render :partial => 'partials/tweets' %></div>

<script type="text/javascript">
	setInterval('update_twitter()', 120000);
	setInterval('window.location=""', 300000);
	
	function update_twitter(){
		<%= remote_function(:update => "options",
      :url => { :action => :update_twitter }) %>
	}
</script>